{{#section 'head'}}
<title>TV Shows</title>
{{/section}}
<header>
    <h1 class="headerStyle">TV Shows</h1>
</header>
<main id="homeContainer">
    <form class="formContainer" id="searchForm">
        <label for="search_term"> Search Shows </label>
        <input required type="text" class="formStyle" id="search_term" name="search_term">
        <button class="searchButton" type="submit" form="searchForm" value="Submit">Submit</button>
    </form>
    <p id="formError"></p>
    <ul id="showList"></ul>
    <div id="show"></div>
    <a id="homeLink" href="/">Back to All Shows</a>
</main>
<footer class="footerStyle">
    <h2 class="footerHeaderStyle">Abhay Sharma - 10459806</h2>
</footer>